.post-date{
	background: #262936;
	padding: 4px;
	margin: 3px;
	display: block;
}
.post-thumb{
	width: 100%;
}
.center {
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
}
.pAbout{
	text-align: right;
}
